In [1]:
import pandas as pd

df=pd.read_csv('data/dados_sus3.csv')
df

/tmp/ipykernel_19040/387095770.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/dados_sus3.csv')

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,20170803,20170808,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,20170803,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,20170802,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,20170804,20170810,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185293,I64,354780,430460,303040149,64,1,,0,3508528,585.95,0,20140314,20140318,29,NaN,NaN,NaN,NaN
185294,S663,431337,430460,408060484,44,1,,0,3626245,421.30,0,20140318,20140319,6856,NaN,NaN,NaN,NaN
185295,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,20140310,20140318,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185296,S860,412550,430460,408060476,32,1,,0,3626245,680.20,0,20140327,20140329,6,NaN,NaN,NaN,NaN
185297,S628,431337,430460,408020172,6,3,,0,3626245,115.24,0,20140401,20140402,6856,NaN,NaN,NaN,NaN

In [4]:
df.CIDADE_RESIDENCIA_PACIENTE.value_counts()

CIDADE_RESIDENCIA_PACIENTE
Uruguaiana        9288
Ijuí              8809
Passo Fundo       8787
Porto Alegre      7036
Caxias do Sul     6825
                  ...
Marabá               1
Uberaba              1
Rio Verde            1
Campina Grande       1
Parnaíba             1
Name: count, Length: 102, dtype: int64

In [5]:
df

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,20170803,20170808,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
1,C168,430300,430300,304100021,60,1,0,0,2266474,797.11,0,20170803,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
3,I500,430300,430300,303060212,62,1,0,1,2266474,2702.50,4,20170802,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
4,I158,430300,430300,303060107,29,3,0,0,2266474,1737.69,2,20170804,20170810,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185293,I64,354780,430460,303040149,64,1,,0,3508528,585.95,0,20140314,20140318,29,NaN,NaN,NaN,NaN
185294,S663,431337,430460,408060484,44,1,,0,3626245,421.30,0,20140318,20140319,6856,NaN,NaN,NaN,NaN
185295,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,20140310,20140318,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185296,S860,412550,430460,408060476,32,1,,0,3626245,680.20,0,20140327,20140329,6,NaN,NaN,NaN,NaN
185297,S628,431337,430460,408020172,6,3,,0,3626245,115.24,0,20140401,20140402,6856,NaN,NaN,NaN,NaN

In [15]:

# Contagem de registros com sexo=3 e idade>50
filtro = (df['SEXO'] == 3) & (df['IDADE'] > 20) & (df['MORTE'] == 1)

print(f"Total de pacientes com sexo=3 e idade>50: {total_sexo3_idade_maior50}")

# Visualizando os dados filtrados
df_filtrado = df[filtro]
df_filtrado

Total de pacientes com sexo=3 e idade>50: 0

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
24,R579,430300,430300,303060077,75,3,0,1,2266474,805.15,1,20170730,20170730,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
45,E105,430513,430300,303060131,49,3,0,1,2266474,1342.17,0,20170710,20170730,1168,Rio Grande do Sul,Ijuí,-28.387873,-53.920169
83,A310,432070,430300,303010037,68,3,0,1,2266474,1967.51,2,20170723,20170725,5576,NaN,NaN,NaN,NaN
95,K564,430300,430300,407020101,86,3,0,1,2266474,2559.17,2,20170815,20170819,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184842,I702,430258,431020,303060204,87,3,0000,1,2261057,1756.83,2,20151013,20151018,552,Rio Grande do Sul,Pelotas,-31.769974,-52.341016
184860,C710,432110,431560,403030030,43,3,0000,1,2232995,4416.75,0,20150928,20151026,4228,NaN,NaN,NaN,NaN
184880,L89,430130,430130,303080094,75,3,0000,1,2233428,234.63,0,20150824,20150901,5201,Rio Grande do Sul,Porto Alegre,-30.032500,-51.230377
185068,I702,431980,431690,406020345,65,3,0000,1,2244306,6163.64,6,20150829,20150913,2401,NaN,NaN,NaN,NaN
185245,K631,430770,430770,407020098,85,3,0000,1,2232030,1990.99,0,20150508,20150514,27261,Rio Grande do Sul,Caxias do Sul,-29.168505,-51.179639

In [12]:
df_filtrado

,DIAG_PRINC,MUNIC_RES,MUNIC_MOV,PROC_REA,IDADE,SEXO,CID_MORTE,MORTE,CNES,VAL_TOT,UTI_MES_TO,DT_INTER,DT_SAIDA,total_ocorrencias,UF_RESIDENCIA_PACIENTE,CIDADE_RESIDENCIA_PACIENTE,LATI_CIDADE_RES,LONG_CIDADE_RES
0,A46,430300,430300,303080078,67,3,0,0,2266474,292.62,0,20170803,20170808,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
2,J128,430300,430300,303140151,76,3,0,1,2266474,4987.52,8,20170726,20170803,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
9,T846,430300,430300,408060352,66,3,0,0,2266474,159.66,0,20170806,20170807,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
11,C56,430300,430300,406020078,62,3,0,0,2266474,436.64,0,20170804,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
12,C448,430300,430300,416080030,52,3,0,0,2266474,444.18,0,20170804,20170805,24485,Rio Grande do Sul,Santa Maria,-29.686051,-53.806921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185263,C329,430975,430300,416030297,62,3,,0,2266474,1320.69,0,20140317,20140327,1518,NaN,NaN,NaN,NaN
185271,K429,430460,430460,407040153,67,3,,0,3508528,451.58,0,20140117,20140121,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755
185285,T848,431337,430460,408060387,67,3,,0,2232014,810.77,0,20140325,20140404,6856,NaN,NaN,NaN,NaN
185291,S424,431405,430460,408020350,57,3,,0,3626245,311.42,0,20140228,20140228,19639,NaN,NaN,NaN,NaN
185295,M502,430460,430460,408030445,76,3,,0,3626245,4515.42,5,20140310,20140318,116612,Rio Grande do Sul,Uruguaiana,-29.756073,-57.086755